@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    --color-border: #938F87;
    --color-primary: #FEBE98;
    --color-text: #181819;

    --border01: 1px solid var(--color-border);
    --border02: 6px solid var(--color-border);
}

.inner {
    width: 1200px;
    margin: auto;
}

#header {
    width: 100%;
    background: #dddddd;
    padding: 20px 0;

    .inner {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            font-size: 22px;
            margin-right: 20px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.area {
    width: 1200px;
    margin: auto;

    &.area-list {
        .list-title {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #cccccc;
            .title {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}


.rotate-canvas-wrapper {        
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    > {
        canvas {
            width: 50vmin;
            height: 50vmin;
            border-radius: 50%;
            box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.02);
        }
    }
}

.list-wrapper {
    li {
        display: flex;
        align-items: center;
        a {
            img {
                object-fit: cover;
                width: 180px;
                height: 120px;
            }
        }

        .list-cont {
            margin-left: 10px;         
            .titles {
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                }                
            }
    
            .lead {
                font-size: 14px;
                line-height: 16px;
                margin: 10px 0;
            }
    
            .publication {
                font-size: 14px;
                em {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }        
    }
}